.background {
    width: 100%;
    display: block;
}

.sheet{
    position: relative;
    width: 1000px;
    margin: auto;
    width:min(1000px,95vw);
}

.sheet input {
    position:absolute;
    font-size: 14px;
    background:transparent;
    border:none;
    text-decoration: none;
    text-align: center;
}

.text {
    width: 250px;
}

.number {
    width: 50px;
    height: 50px;
}

.sheet input.pericia-custom { 
    text-align: left; 
}

/* investigador */

#nome {
    left: 140px;
    top: 90px;
    text-align: start;
}

#jogador {
    left:180px;
    top:115px;
    text-align: start;
}

#ocupacao {
    left:170px;
    top:140px;
    text-align: start;
}

#idade {
    left:130px;
    top:170px;
    width:100px;
}

#sexo {
    left:320px;
    top:170px;
    width:120px;
    text-align: start;
}

#residencia {
    left:180px;
    top:200px;
    text-align: start;
}

#nascimento {
    left:190px;
    top:225px;
    text-align: start;
}

/* caracteristicas */

.minor-number {
    width: 35px;
    height: 25px;
}

#for {
    left:540px;
    top:100px;
}

#for-top {
    left:590px;
    top:100px;
}

#for-bottom {
    left:590px;
    top:125px;
}

#des {
    left:685px;
    top:100px;
}

#des-top {
    left:735px;
    top:100px;
}

#des-bottom {
    left:735px;
    top:125px;
}

#pod {
    left:835px;
    top:100px;
}

#pod-top {
    left:885px;
    top:100px;
}

#pod-bottom {
    left:885px;
    top:125px;
}

#con {
    left:540px;
    top:150px;
}

#con-top {
    left:590px;
    top:150px;
}

#con-bottom {
    left:590px;
    top:175px;
}

#apa {
    left:685px;
    top:150px;
}

#apa-top {
    left:735px;
    top:150px;
}

#apa-bottom {
    left:735px;
    top:175px;
}

#edu {
    left:835px;
    top:150px;
}

#edu-top {
    left:885px;
    top:150px;
}

#edu-bottom {
    left:885px;
    top:175px;
}

#tam {
    left:540px;
    top:205px;
}

#tam-top {
    left:590px;
    top:205px;
}

#tam-bottom {
    left:590px;
    top:230px;
}

#int {
    left:685px;
    top:205px;
}

#int-top {
    left:735px;
    top:205px;
}

#int-bottom {
    left:735px;
    top:230px;
}

#taxa-de-mov {
    left:835px;
    top:205px;
}

#taxa-de-mov-top {
    left:885px;
    top:205px;
}

#taxa-de-mov-bottom {
    left:885px;
    top:230px;
}

/* status */

#vida-maxima {
    left:160px;
    top:265px;
    width:70px;
}

#sanidade-atual {
    left:490px;
    top:265px;
    width:70px;
}

#sanidade-maxima {
    left:570px;
    top:265px;
    width:70px;
}

#sorte-atual {
    left:285px;
    top:405px;
    width:70px;
}

#magia-maximo {
    left:790px;
    top:365px;
    width:70px;
}

/* pericias */

.pericia {
    width:30px;
}

.pericia-minor {
    width:20px;
    height:10px;
}