.background {
    width: 100%;
    display: block;
}

.sheet{
    position: relative;
    width: 1000px;
    margin: auto;
    width:min(1000px,95vw);
}

.sheet input {
    position:absolute;
    font-size: 14px;
    background:transparent;
    border:none;
    text-decoration: none;
    text-align: center;
}

.text {
    width: 250px;
}

.number {
    width: 50px;
    height: 50px;
}

.sheet input.pericia-custom { 
    text-align: left; 
}

/* investigador */

#nome {
    left: 140px;
    top: 90px;
    text-align: start;
}

#jogador {
    left:180px;
    top:115px;
    text-align: start;
}

#ocupacao {
    left:170px;
    top:140px;
    text-align: start;
}

#idade {
    left:130px;
    top:170px;
    width:100px;
}

#sexo {
    left:320px;
    top:170px;
    width:120px;
    text-align: start;
}

#residencia {
    left:180px;
    top:200px;
    text-align: start;
}

#nascimento {
    left:190px;
    top:225px;
    text-align: start;
}

/* caracteristicas */

.minor-number {
    width: 35px;
    height: 25px;
}

#for {
    left:540px;
    top:100px;
}

#for-top {
    left:590px;
    top:100px;
}

#for-bottom {
    left:590px;
    top:125px;
}

#des {
    left:685px;
    top:100px;
}

#des-top {
    left:735px;
    top:100px;
}

#des-bottom {
    left:735px;
    top:125px;
}

#pod {
    left:835px;
    top:100px;
}

#pod-top {
    left:885px;
    top:100px;
}

#pod-bottom {
    left:885px;
    top:125px;
}

#con {
    left:540px;
    top:150px;
}

#con-top {
    left:590px;
    top:150px;
}

#con-bottom {
    left:590px;
    top:175px;
}

#apa {
    left:685px;
    top:150px;
}

#apa-top {
    left:735px;
    top:150px;
}

#apa-bottom {
    left:735px;
    top:175px;
}

#edu {
    left:835px;
    top:150px;
}

#edu-top {
    left:885px;
    top:150px;
}

#edu-bottom {
    left:885px;
    top:175px;
}

#tam {
    left:540px;
    top:205px;
}

#tam-top {
    left:590px;
    top:205px;
}

#tam-bottom {
    left:590px;
    top:230px;
}

#int {
    left:685px;
    top:205px;
}

#int-top {
    left:735px;
    top:205px;
}

#int-bottom {
    left:735px;
    top:230px;
}

#taxa-de-mov {
    left:835px;
    top:205px;
}

#taxa-de-mov-top {
    left:885px;
    top:205px;
}

#taxa-de-mov-bottom {
    left:885px;
    top:230px;
}

/* status */

#vida-maxima {
    left:160px;
    top:265px;
    width:70px;
}

#sanidade-atual {
    left:490px;
    top:265px;
    width:70px;
}

#sanidade-maxima {
    left:570px;
    top:265px;
    width:70px;
}

#sorte-atual {
    left:285px;
    top:405px;
    width:70px;
}

#magia-maximo {
    left:790px;
    top:365px;
    width:70px;
}

/* pericias */

.pericia {
    width:30px;
}

.pericia-minor {
    width:20px;
    height:10px;
}

/* coluna 1 */

#antropologia {
    left:230px;
    top:545px;
}

#antropologia-minor {
    left:260px;
    top:545px;
}

#antropologia-minor2 {
    left:260px;
    top:560px;
}

#armas-de-fogo-pistola {
    left:230px;
    top:577px;
}

#armas-de-fogo-pistola-minor {
    left:260px;
    top:577px;
}

#armas-de-fogo-pistola-minor2 {
    left:260px;
    top:592px;
}

#armas-de-fogo-rifle {
    left:230px;
    top:610px;
}

#armas-de-fogo-rifle-minor {
    left:260px;
    top:610px;
}

#armas-de-fogo-rifle-minor2 {
    left:260px;
    top:625px;
}

#arqueologia {
    left:230px;
    top:645px;
}

#arqueologia-minor {
    left:260px;
    top:645px;
}

#arqueologia-minor2 {
    left:260px;
    top:660px;
}

#arremessar {
    left:230px;
    top:677px;
}

#arremessar-minor {
    left:260px;
    top:677px;
}

#arremessar-minor2 {
    left:260px;
    top:693px;
}

#arte-oficio-text {
    left:90px;
    top:715px;
}

#arte-oficio {
    left:230px;
    top:710px;
}

#arte-oficio-minor {
    left:260px;
    top:710px;
}

#arte-oficio-minor2 {
    left:260px;
    top:726px;
}

#pericia-custom1-text {
    left:90px;
    top:745px;
}

#pericia-custom1-number {
    left:230px;
    top:745px;
}

#pericia-custom1-number-minor {
    left:260px;
    top:745px;
}

#pericia-custom1-number-minor2 {
    left:260px;
    top:760px;
}

#pericia-custom2-text {
    left:90px;
    top:780px;
}

#pericia-custom2-number {
    left:230px;
    top:777px;
}

#pericia-custom2-number-minor {
    left:260px;
    top:777px;
}

#pericia-custom2-number-minor2 {
    left:260px;
    top:793px;
}

#pericia-custom3-text {
    left:90px;
    top:815px;
}

#pericia-custom3-number {
    left:230px;
    top:810px;
}

#pericia-custom3-number-minor {
    left:260px;
    top:810px;
}

#pericia-custom3-number-minor2 {
    left:260px;
    top:825px;
}

#avaliacao {
    left:230px;
    top:845px;
}

#avaliacao-minor {
    left:260px;
    top:845px;
}

#avaliacao-minor2 {
    left:260px;
    top:860px;
}

#cavalgar {
    left:230px;
    top:877px;
}

#cavalgar-minor {
    left:260px;
    top:877px;
}

#cavalgar-minor2 {
    left:260px;
    top:893px;
}

#charme {
    left:230px;
    top:910px;
}

#charme-minor {
    left:260px;
    top:910px;
}

#charme-minor2 {
    left:260px;
    top:925px;
}

#chaveiro {
    left:230px;
    top:945px;
}

#chaveiro-minor {
    left:260px;
    top:945px;
}

#chaveiro-minor2 {
    left:260px;
    top:960px;
}

#ciencia {
    left:230px;
    top:977px;
}

#ciencia-minor {
    left:260px;
    top:977px;
}

#ciencia-minor2 {
    left:260px;
    top:993px;
}

#pericia-custom4-text {
    left:90px;
    top:1012px;
}

#pericia-custom4-number {
    left:230px;
    top:1010px;
}

#pericia-custom4-number-minor {
    left:260px;
    top:1010px;
}

#pericia-custom4-number-minor2 {
    left:260px;
    top:1025px;
}

/* coluna 2 */

#pericia-custom5-text {
    left:310px;
    top:545px;
}

#pericia-custom5-number {
    left:445px;
    top:545px;
}

#pericia-custom5-number-minor {
    left:475px;
    top:545px;
}

#pericia-custom5-number-minor2 {
    left:475px;
    top:560px;
}

#pericia-custom6-text {
    left:310px;
    top:577px;
}

#pericia-custom6-number {
    left:445px;
    top:577px;
}

#pericia-custom6-number-minor {
    left:475px;
    top:577px;
}

#pericia-custom6-number-minor2 {
    left:475px;
    top:592px;
}

#consertos-eletricos {
    left:445px;
    top:610px;
}

#consertos-eletricos-minor {
    left:475px;
    top:610px;
}

#consertos-eletricos-minor2 {
    left:475px;
    top:625px;
}

#consertos-mecanicos {
    left:445px;
    top:645px;
}

#consertos-mecanicos-minor {
    left:475px;
    top:645px;
}

#consertos-mecanicos-minor2 {
    left:475px;
    top:660px;
}

#contabilidade {
    left:445px;
    top:677px;
}

#contabilidade-minor {
    left:475px;
    top:677px;
}

#contabilidade-minor2 {
    left:475px;
    top:693px;
}

#direito {
    left:445px;
    top:710px;
}

#direito-minor {
    left:475px;
    top:710px;
}

#direito-minor2 {
    left:475px;
    top:726px;
}

#dirigir-auto {
    left:445px;
    top:745px;
}

#dirigir-auto-minor {
    left:475px;
    top:745px;
}

#dirigir-auto-minor2 {
    left:475px;
    top:760px;
}

#disfarce {
    left:445px;
    top:777px;
}

#disfarce-minor {
    left:475px;
    top:777px;
}

#disfarce-minor2 {
    left:475px;
    top:793px;
}

#encontrar {
    left:445px;
    top:810px;
}

#encontrar-minor {
    left:475px;
    top:810px;
}

#encontrar-minor2 {
    left:475px;
    top:825px;
}

#escutar {
    left:445px;
    top:845px;
}

#escutar-minor {
    left:475px;
    top:845px;
}

#escutar-minor2 {
    left:475px;
    top:860px;
}

#escalar {
    left:445px;
    top:877px;
}

#escalar-minor {
    left:475px;
    top:877px;
}

#escalar-minor2 {
    left:475px;
    top:893px;
}

#esquivar {
    left:445px;
    top:910px;
}

#esquivar-minor {
    left:475px;
    top:910px;
}

#esquivar-minor2 {
    left:475px;
    top:925px;
}

#labia {
    left:445px;
    top:945px;
}

#labia-minor {
    left:475px;
    top:945px;
}

#labia-minor2 {
    left:475px;
    top:960px;
}

#intimidacao {
    left:445px;
    top:977px;
}

#intimidacao-minor {
    left:475px;
    top:977px;
}

#intimidacao-minor2 {
    left:475px;
    top:993px;
}

#historia {
    left:445px;
    top:1010px;
}

#historia-minor {
    left:475px;
    top:1010px;
}

#historia-minor2 {
    left:475px;
    top:1025px;
}

/* coluna 3 */

#furtividade {
    left:660px;
    top:545px;
}

#furtividade-minor {
    left:690px;
    top:545px;
}

#furtividade-minor2 {
    left:690px;
    top:560px;
}

#lingua-natural {
    left:660px;
    top:577px;
}

#lingua-natural-text {
    left:520px;
    top:590px;
}

#lingua-natural-minor {
    left:690px;
    top:577px;
}

#lingua-natural-minor2 {
    left:690px;
    top:592px;
}

#pericia-custom7-text {
    left:520px;
    top:615px;
}

#pericia-custom7-number {
    left:660px;
    top:610px;
}

#pericia-custom7-number-minor {
    left:690px;
    top:610px;
}

#pericia-custom7-number-minor2 {
    left:690px;
    top:625px;
}

#lingua-outra-text {
    left:520px;
    top:655px;
}

#lingua-outra {
    left:660px;
    top:645px;
}

#lingua-outra-minor {
    left:690px;
    top:645px;
}

#lingua-outra-minor2 {
    left:690px;
    top:660px;
}

#pericia-custom8-text {
    left:520px;
    top:680px;
}

#pericia-custom8-number {
    left:660px;
    top:677px;
}

#pericia-custom8-number-minor {
    left:690px;
    top:677px;
}

#pericia-custom8-number-minor2 {
    left:690px;
    top:693px;
}

#pericia-custom9-text {
    left:520px;
    top:715px;
}

#pericia-custom9-number {
    left:660px;
    top:710px;
}

#pericia-custom9-number-minor {
    left:690px;
    top:710px;
}

#pericia-custom9-number-minor2 {
    left:690px;
    top:726px;
}

#pericia-custom10-text {
    left:520px;
    top:745px;
}

#pericia-custom10-number {
    left:660px;
    top:745px;
}

#pericia-custom10-number-minor {
    left:690px;
    top:745px;
}

#pericia-custom10-number-minor2 {
    left:690px;
    top:760px;
}

#lutar-brigar {
    left:660px;
    top:777px;
}

#lutar-brigar-minor {
    left:690px;
    top:777px;
}

#lutar-brigar-minor2 {
    left:690px;
    top:793px;
}

#pericia-custom11-text {
    left:520px;
    top:815px;
}

#pericia-custom11-number {
    left:660px;
    top:810px;
}

#pericia-custom11-number-minor {
    left:690px;
    top:810px;
}

#pericia-custom11-number-minor2 {
    left:690px;
    top:825px;
}

#medicina {
    left:660px;
    top:845px;
}

#medicina-minor {
    left:690px;
    top:845px;
}

#medicina-minor2 {
    left:690px;
    top:860px;
}

#mythos-de-cthulhu {
    left:660px;
    top:877px;
}

#mythos-de-cthulhu-minor {
    left:690px;
    top:877px;
}

#mythos-de-cthulhu-minor2 {
    left:690px;
    top:893px;
}

#mundo-natural {
    left:660px;
    top:910px;
}

#mundo-natural-minor {
    left:690px;
    top:910px;
}

#mundo-natural-minor2 {
    left:690px;
    top:925px;
}

#natacao {
    left:660px;
    top:945px;
}

#natacao-minor {
    left:690px;
    top:945px;
}

#natacao-minor2 {
    left:690px;
    top:960px;
}

#navegacao {
    left:660px;
    top:977px;
}

#navegacao-minor {
    left:690px;
    top:977px;
}

#navegacao-minor2 {
    left:690px;
    top:993px;
}

#nivel-de-credito {
    left:660px;
    top:1010px;
}

#nivel-de-credito-minor {
    left:690px;
    top:1010px;
}

#nivel-de-credito-minor2 {
    left:690px;
    top:1025px;
}

/* coluna 4 */

#ocultismo {
    left:875px;
    top:545px;
}

#ocultismo-minor {
    left:905px;
    top:545px;
}

#ocultismo-minor2 {
    left:905px;
    top:560px;
}

#operar-maquinario {
    left:875px;
    top:577px;
}

#operar-maquinario-minor {
    left:905px;
    top:577px;
}

#operar-maquinario-minor2 {
    left:905px;
    top:592px;
}

#persuasao {
    left:875px;
    top:610px;
}

#persuasao-minor {
    left:905px;
    top:610px;
}

#persuasao-minor2 {
    left:905px;
    top:625px;
}

#pilotar {
    left:875px;
    top:645px;
}

#pilotar-minor {
    left:905px;
    top:645px;
}

#pilotar-minor2 {
    left:905px;
    top:660px;
}

#pericia-custom12-text {
    left:735px;
    top:680px;
}

#pericia-custom12-number {
    left:875px;
    top:677px;
}

#pericia-custom12-number-minor {
    left:905px;
    top:677px;
}

#pericia-custom12-number-minor2 {
    left:905px;
    top:693px;
}

#prestidigitacao {
    left:875px;
    top:710px;
}

#prestidigitacao-minor {
    left:905px;
    top:710px;
}

#prestidigitacao-minor2 {
    left:905px;
    top:726px;
}

#primeiros-socorros {
    left:875px;
    top:745px;
}

#primeiros-socorros-minor {
    left:905px;
    top:745px;
}

#primeiros-socorros-minor2 {
    left:905px;
    top:760px;
}

#psicanalise {
    left:875px;
    top:777px;
}

#psicanalise-minor {
    left:905px;
    top:777px;
}

#psicanalise-minor2 {
    left:905px;
    top:793px;
}

#psicologia {
    left:875px;
    top:810px;
}

#psicologia-minor {
    left:905px;
    top:810px;
}

#psicologia-minor2 {
    left:905px;
    top:825px;
}

#saltar {
    left:875px;
    top:845px;
}

#saltar-minor {
    left:905px;
    top:845px;
}

#saltar-minor2 {
    left:905px;
    top:860px;
}

#rastrear {
    left:875px;
    top:877px;
}

#rastrear-minor {
    left:905px;
    top:877px;
}

#rastrear-minor2 {
    left:905px;
    top:893px;
}

#sobrevivencia-text {
    left:735px;
    top:920px;
}

#sobrevivencia {
    left:875px;
    top:910px;
}

#sobrevivencia-minor {
    left:905px;
    top:910px;
}

#sobrevivencia-minor2 {
    left:905px;
    top:925px;
}

#usar-biblioteca {
    left:875px;
    top:945px;
}

#usar-biblioteca-minor {
    left:905px;
    top:945px;
}

#usar-biblioteca-minor2 {
    left:905px;
    top:960px;
}

#pericia-custom13-text {
    left:735px;
    top:980px;
}

#pericia-custom13-number {
    left:875px;
    top:977px;
}

#pericia-custom13-number-minor{
    left:905px;
    top:977px;
}

#pericia-custom13-number-minor2 {
    left:905px;
    top:993px;
}

#pericia-custom14-text {
    left:735px;
    top:1015px;
}

#pericia-custom14-number {
    left:875px;
    top:1010px;
}

#pericia-custom14-number-minor {
    left:905px;
    top:1010px;
}

#pericia-custom14-number-minor2 {
    left:905px;
    top:1025px;
}

/* armas */

#desarmado-regular {
    left:200px;
    top:1098px;
    width:50px;
    height:20px
}

#desarmado-dificil {
    left:265px;
    top:1098px;
    width:50px;
    height:20px
}

#desarmado-extremo {
    left:330px;
    top:1098px;
    width:50px;
    height:20px
}

/* combate */

#bonus-de-dano {
    left:845px;
    top:1092px;
    width:70px;
    font-size:14px;
}

#corpo {
    left:855px;
    top:1145px;
    width:50px;
}

#esquiva {
    left:843px;
    top:1190px;
    width:40px;
    height:40px;
}

#esquiva-minor {
    left:888px;
    top:1190px;
    width:30px;
    height:20px;
}

#esquiva-minor2 {
    left:888px;
    top:1212px;
    width:30px;
    height:20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}